$color_principal: #92557f;
$color_hover: #bb6da3;

button {
    background-color: $color_principal;
    
    &:hover {
        background-color: $color_hover;
    }
}

.btn-icon {
  height: 200px;
  width: auto;
  margin-left: 60px;
}